* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.header {
    background-color: #5dd55d;
    color: #fff;
    padding: 1rem 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contenedorLogo {
    display: flex;
    align-items: center;
}

.imagenLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.titulo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFFFFF;
}

.navegar {
    list-style: none;
    display: flex;
}

.navegar li {
    margin-left: 1.5rem;
}

.navegar a {
    color: #BEEEBE;
    text-decoration: none;
    font-size: 1rem;
}

.inicioSesion {
    background-color: #7ff7ff;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.inicioSesion:hover {
    background-color: #66e3e3;
}

.contenedorCuenta {
    text-align: center;
    padding: 5rem 1rem;
    background: linear-gradient(to bottom,  #5dd55d, #7ff7ff);
    color: var(--text-light);
}

.tituloCrear {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.descripcionCrear {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.informacion {
    padding: 4rem 1rem;
    background-color: #308230;
}

.informacion .tituloInfo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.apartadoInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.info {
    text-align: center;
    background: #308230;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.acercaDe {
    padding: 4rem 1rem;
    background-color: #308230;
}

.acercaDe .tituloAcercaDe {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.acercaDe p {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
}

.footer {
    background-color:  #5dd55d;
    color: #308230;
    text-align: center;
    padding: 1rem 0;
}
