body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: aliceblue;
    color: #000;
}

.logo img {
    width: 70px;
}

.ayuda button {
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 20px;
    border-color: aqua;
    background: #7ff7ff;
    color: #000000;
    cursor: pointer;
    font-weight: 900;
}

.iconos img {
    width: 40px;
    margin-left: 15px;
    cursor: pointer;
}

.iconos img:hover {
    transform: scale(1.1);
}


.menu {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(70deg, #5dd55d, #7ff7ff);
    padding: 25px;
    border: 2px solid #000;
}

.menu a {
    color: #000000;
    text-decoration: none;
    border-radius: 15px;
    border:2px solid #000;
    padding: 5px 20px;
    font-weight: 900;
    background-color: #d6eaff;
}

.menu a:hover {
    transform: scale(1.1);
}

.menu a.active {
    background-color: #4caf50;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.principal {
    padding: 50px;
    text-align: center;
}

.saldo {
    background: #5dd55d;
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
    width: 40%;
    display: flex;
    justify-content: flex-start;
}

.saldo h2 {
    text-align: left;
    margin: 0;
}

.finanzas {
    margin-top: 70px;
}

.grafico {
    margin: 30px auto;
    width: 80%;
    position: relative;
}

.grafico .barra {
    height: 20px;
    width: 100%;
    background: linear-gradient(90deg, #6bd187, #e74c3c);
    border-radius: 5px;
}

.grafico .etiquetas {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}

.grafico .numeros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

footer {
    position: fixed;
    border-top: 2px solid #6bd187;
    color: #000000; 
    padding: 5px 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.redes {
    display: flex;
    gap: 15px; 
}

.redes a {
    text-decoration: none;
}

.redes img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.redes img:hover {
    transform: scale(1.2); 
}

.politica {
    text-align: center;
    margin: 10px 0;
}

.politica img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

.privacidad {
    text-align: center;
}

.privacidad p {
    margin: 5px 0;
    font-size: 14px;
}

.privacidad a {
    color: #000000; 
    text-decoration: none;
}

.privacidad a:hover {
    text-decoration: underline; 
}
